[Desktop Entry]
Name=Electrum
GenericName=Electrum
Comment=The latest version of Electrum Bitcoin Wallet.
Exec=bash /live/persistence/TailsData_unlocked/electrum/electrum.sh
Terminal=false
Type=Application
Icon=/live/persistence/TailsData_unlocked/electrum/electrum_logo.png
Categories=Internet;

