[Desktop Entry]
Name=Electrum Bitcoin Wallet
GenericName[en_US]=Bitcoin Wallet
GenericName=Bitcoin Wallet
Comment=Lightweight Bitcoin Client
Exec=bash /live/persistence/TailsData_unlocked/electrum/start_electrum.sh
Terminal=false
Type=Application
Icon=/live/persistence/TailsData_unlocked/electrum/electrum.png
Categories=Finance;Internet;
MimeType=x-scheme-handler/bitcoin;x-scheme-handler/lightning;