[Desktop Entry]
Name=Signal
GenericName=Telegram Desktop Messenger
Exec=bash /live/persistence/TailsData_unlocked/signal/start_telegram.sh
Terminal=false
Type=Application
Icon=/home/amnesia/.local/share/flatpak/app/org.signal.Signal/current/active/files/share/icons/hicolor/128x128/apps/org.telegram.desktop.png